.container { 
	margin: 10px auto;
	width: 650px;


}

.heading { 
	text-align: center;
}

.mathFunctions {
		background-image: url("river.jpg");	
		background-size: cover;
		color: white;
		text-align: center;
} 

.result {
	font-size: 18px;
	text-align: auto;
}